# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
bin/
*.db
.DS_Store
src/github.com/vbonnet/mobile-push-broadcaster/main
src/github.com/alexjlockwood/gcm/
src/github.com/anachronistic/apns/
src/github.com/codegangsta/inject/
src/github.com/codegangsta/martini/
src/github.com/go-martini/martini/
src/github.com/gorilla/websocket/
src/github.com/martini-contrib/render/
src/github.com/toml-lang/toml/