<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Broadcaster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <style>
      .dynamic-content {
          display:none;
      }
    </style>

    <script>
      var visibleApp;
      var sent = false;
      function sendNotification(app, appPath) {
        if (sent) return;

        visibleAppPath = appPath;

        sent = true;

        var json = {}
        json.app = app;
        json.GCM = $('#'+appPath+' #gcm').is(':checked');
        json.APNS = $('#'+appPath+' #apns').is(':checked');
        json.APNSSandbox = $('#'+appPath+' #apns-sandbox').is(':checked');

        elements = $('#'+appPath+' .field');
        for(var i = 0; i < elements.length; i++){
          json[elements[i].id] = elements[i].value;
        }

        $.get('/broadcast', json, 
            function(returnedData){
                console.log(returnedData);
        }).fail(function(){
              console.log("error");
        });
      }

      var connection = new WebSocket('ws://{[{ .Server }]}:{[{ .Port }]}/sock_gcm');
      connection.onmessage = function (message) {
        $("#gcm"+visibleAppPath).append( "<p>• " + message.data + "</p>" );
      };

      var connectionAPNS = new WebSocket('ws://{[{ .Server }]}:{[{ .Port }]}/sock_apns');
      connectionAPNS.onmessage = function (message) {
        $("#apns"+visibleAppPath).append( "<p>• " + message.data + "</p>" );
      };

      $(window).on('hashchange', function() {
        $(".dynamic-content").each(function(index) {
          $(this).hide();
        });
        $(decodeURIComponent(window.location.hash)).show();
      });
    </script>
  </head>
  <body>
    <body>

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="#">Mobile broadcaster</a>
          </div>
        </div>
      </div>
  
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Apps</li>
                {[{ range .AppInfos }]}
                  <li><a href="#{[{ .NamePath }]}">{[{ .Name }]}</a></li>
                {[{ end }]}                
              </ul>
            </div>
          </div>
          <div class="span9">
            <form action="" id="send_form">
              {[{ range .AppInfos }]}          
                <div id="{[{ .NamePath }]}" class="dynamic-content">
                    <div id="divApp2">
                        <div class="hero-unit">
                            <h1>{[{ .Name }]}</h1>
                            <br><br>

                            {[{ range .Fields }]}
                              <div class="row-fluid">
                                  <div class="span2">
                                      {[{ .Label }]}
                                  </div>
                                  <div class="span10">
                                      <input type="text" name="{[{ .Name }]}" id="{[{ .Name }]}" class="field">
                                      <span style="color: #CECECE;font-size: 12px;">{[{ .Tips }]}</span><br/>
                                  </div>
                              </div>
                            {[{ end }]}

                            <div class="row-fluid">
                              <div class="span2"></div>
                              <div class="span2">
                                <input id="gcm" type="checkbox"> GCM ({[{ .AndroidDevices }]})
                              </div>
                              <div class="span2">
                                <input id="apns" type="checkbox"> APNS ({[{ .IOSDevices }]})
                              </div>
                              <div class="span2">
                                <input id="apns-sandbox" type="checkbox"> APNS Sandbox ({[{ .IOSSandboxDevices }]})
                              </div>
                          </div>
                  
                            <br>
                            <div class="row-fluid">
                                <div class="span11"></div>
                                <div class="span1">
                                    <input class="btn btn-primary btn-large" type="button" value="Send" onclick="sendNotification({[{ .Name }]}, {[{ .NamePath }]});" />
                                </div>
                            </div>
                            
                          </div>

                          <div class="row-fluid">
                            <div class="span6">
                                <div>
                                    <h2>GCM Logs</h2>
                                    <div id="gcm{[{ .NamePath }]}"></div>
                                </div>
                            </div>
                            <div class="span6">
                                <div>
                                    <h2>APNS Logs</h2>
                                    <div id="apns{[{ .NamePath }]}"></div>
                                </div>
                            </div>
                          </div>
                    </div>
                    
                    <br><br><br>
                </div>
          
              {[{ end }]}
            </form>
          </div>
        </div>
      </div>

      <!-- Placed at the end of the document so the pages load faster -->
      <script src="./assets/js/bootstrap-transition.js"></script>
      <script src="./assets/js/bootstrap-alert.js"></script>
      <script src="./assets/js/bootstrap-modal.js"></script>
      <script src="./assets/js/bootstrap-dropdown.js"></script>
      <script src="./assets/js/bootstrap-scrollspy.js"></script>
      <script src="./assets/js/bootstrap-tab.js"></script>
      <script src="./assets/js/bootstrap-tooltip.js"></script>
      <script src="./assets/js/bootstrap-popover.js"></script>
      <script src="./assets/js/bootstrap-button.js"></script>
      <script src="./assets/js/bootstrap-collapse.js"></script>
      <script src="./assets/js/bootstrap-carousel.js"></script>
      <script src="./assets/js/bootstrap-typeahead.js"></script>  
    </body>
  </body>
</html>
